.itemDetail {
    width:50%;
    color:rgb(57, 56, 56);
    font-family: Helvetica, sans-serif;
    display: flex;
    justify-content:space-around;
    margin-top: 20px;
    background-color: rgba(52, 58, 64, 0.2)
}

.itemDetail img {
    border: 2px solid rgb(78, 43, 2);
    max-width: 20vw;
    height: auto;
}

.itemDetail p {
    margin-bottom: 30px;
}

.detailColumn {
    display: flex;
    flex-direction: column;
    
}

