.list-item{
    display: flex;
    flex-wrap: wrap;
    justify-content:safe;
}




@media only screen and (max-width:600px) {
    .divItem {
        width: 80%;
        margin-top: 20px;
    }

    .list-item {
        margin: 0;
        padding: 0;
        justify-content:center;
    }
    
}