@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@1,100&display=swap');

.Card {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items:stretch;
    margin: 20px;
    border: 2px solid black;
    border-radius: 2px;
    width: 12vw;
    overflow: hidden;
    height: 27vw;
    font-family: 'Archivo', sans-serif;
}

.cardTitle {
    font-size: 1vw;
    
}

#imagen {
    width: 100%;
    overflow:hidden;
    min-height: 50%;
    background-color: aliceblue;
    
}

#datos {
    
    width: 100%;
    
}

#datos h2 {
    width: 100%;
    background-color: #495057;
    justify-self: center;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items:flex-start;
    height: auto;
    max-height: 70px;
    box-shadow: 2px 2px 2px 2px #888888;
    padding: 5px 0 10px 0;
    overflow:hidden
}

.Card Button {
    color: #6b705c;
}


.Card:hover {
    box-shadow: 2px 2px 15px;
}

#imagen img {
    width: 100%;
    max-height:auto ;
    min-height: 50%;
    
}

.priceText {
    background-color: #6c757d;
    height: 30px;
    display: flex;
    align-items: center;
}

.sizeText {
    background-color: #adb5bd;
    height: 30px;
    display: flex;
    align-items: center;
    height: auto;
}

/* MEDIA Q */
@media only screen and (max-width:600px) {
    .Card {
        width: 100%;
        height: 500px;
        margin:0;
    }
    


    .cardTitle {
        font-size: 4vw;
    }

    #imagen {
        width: 100%;
        overflow:hidden;
    }
}







