.Card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    border: 2px solid black;
    border-radius: 2px;
    width: 15vw;
    overflow: hidden;
    
    
}

#imagen {
    max-height: 150px;
    width: 100%;
    overflow:hidden;
}

#datos {
    
    width: 100%;
    
}

#datos h2 {
    width: 100%;
    background-color: #a5a58d;
    justify-self: center;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 60px;
    box-shadow: 2px 2px 2px 2px #888888;
}

.Card Button {
    color: #6b705c;
}


.Card:hover {
    box-shadow: 2px 2px 15px;
}

.Card img {
    width: 100%;
    max-height:auto ;
    
    
}

@media only screen and (max-width:400px) {
    .Card {
        width: 100%;
    }
}







/* MEDIA Q */

@media only screen and (max-width:600px){
    #imagen {
        max-height: 300px;
    }
}