.navbar {
    width:100%
}


.img-logo {
    width: 9vw;
    height: auto;
    margin-left: 2%;
}


.menu {
    
    list-style: none;
    margin-right: 10%;
    display: flex;
    align-items:stretch;
}

.menu li {
    display: inline-block;
}

.menu li button {
    background-color: #6b705c;
    margin-right: 20px;
}

.menu li button:hover {
    background-color: #b7b7a4;
}

.main-header {
    display:flex;
    justify-content:space-between;
    align-items: center;
    box-shadow: 5px 1px 5px rgba(0, 0, 0, 0.438);   
    padding: 15px 0px 15px 0px;
    background-color: #ffe8d6;
}


/* MEDIA QUERIES */

@media only screen and (max-width:769px) {
    
    .main-header {
        margin:0 !important;
        
    }

    .img-logo {
        display: none;
    }

    .main-header {
        padding: 0;
        
    }

    .menu {
        display: block;
        width: 100%;
        margin: 0 ;
        padding: 0;
    }


    ul, li, Button {
        width: 100%;
        margin: 0;
        
        
    }

    Button {
        border-radius: 0px;
    }

    li, button {
        height: 50px;
        border-radius: 0 !important;
        margin-right: 0 !important;
    }
}