.itemCount div {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#qtyText {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}